<nav class="navbar navbar-light mb-r">
  <div class="container-fluid">
    <a class="navbar-brand">Car <span>On</span> Sale</a>
    <div class="d-flex input-group w-auto" style="cursor: pointer"
      (click)="logout()">
      <i class="fas fa-sign-out-alt">Logout</i>
    </div>
  </div>
</nav>
<div class="loading" *ngIf="vehicleLoading">
  Vehicles Loading...
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="main" *ngIf="!vehicleLoading">
  <h2>Running Auctions</h2>
  <div class="row">
    <div class="col-3" *ngFor="let course of currentAuction" style="margin-top:
      20px;">
      <mdb-card>
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src= {{course.associatedVehicle.vehicleImages[0].url}} alt="Card
            image cap" width="100%" height="250" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div style="float:right" *ngIf="!course.amIHighestBidder" class="star">
          <i class="far fa-star"></i>
        </div>
        <div style="float:right" *ngIf="course.amIHighestBidder" class="highest">
          <i class="far fa-star"></i> Highest Bider
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <a>{{course.label}}</a>
          </mdb-card-title>
          <mdb-card-text>
            <ul>
              <li>
                Fuel Type : {{course.associatedVehicle.fuelType}}
              </li>
              <li>
                Transmission: {{course.associatedVehicle.transmission}}
              </li>
              <li>
                Mileage : {{course.associatedVehicle.mileageInKm}} KM
              </li>
              <li style="color: cadetblue;">
                Registered At : {{course.createdAt}}
              </li>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
        <div class="card-footer text-muted">
          <h6>{{course.numBids}} bids <span>Highest Bid:
              {{course.currentHighestBidValue}} €</span></h6>
          <h6 style="color:brown;" *ngIf="course.differenceInHours != 'invalid'">{{course.differenceInHours}}
            Left</h6>
          <h6 style="color:brown" *ngIf="course.differenceInHours == 'invalid'">Past
            Due</h6>
        </div>
      </mdb-card>
    </div>
  </div>
