.vehicle{
  margin: 25%;
}
.main{
  margin: 2% 4% 4% 4%;
}
.loading{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.navbar{
  background: #474b57;
  color: #fff;
}
.navbar span{
  color: #ffd740;
  font-weight: 400;
  font-size: 24px;
}
mdb-card-title{
line-height: 23px;
    font-weight: 500;
}
h6 span{
  border-left: 2px solid;
  padding-left: 5px;
}
.highest{
  color: #dbac00;
  padding-left: 50%;
}
.star{
  padding-left: 90%;
}